@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("/87cef5d5d40a9f22a64d6937ad2f7df5b04e3d85.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1204px;
    margin: 30px auto;
    margin-bottom: 95px;
    color: #FFFFFF;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
}

.mainarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 618px;
    height: 394px;
    left: 759px;
    top: 169px;
}

.logo {
    background-size: cover;
    background-position: center;
    background-image: url("/logo.png");
    width: 101px;
    height: 35px;
}

h2 {
    color: #E8EDF2B8;
    font-size: 80px;
}

h1 {
    color: #FDFDFEFA;
    font-size: 250px;
    margin: 0px;
}

.locations {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px;
    background-image: url("./Location\ image.jpg");
    width: 1440px;
    height: 500px;
    
}

.window {
    width: 275px;
    height: 370px;
    border-radius: 40px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
    color: rgba(253, 253, 254, 0.8);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400px;
    font-size: 37px;
    font-family: "Bebas Neue";
    box-shadow: 8px 8px 0 #29728b40 , -8px -8px #1f72aa75;
}
.white-lake {
    background-image: url("/94117af0fae2d95b54ef6842a38934433c1d99d7.png");
}

.photo1 {
    background-image: url("/image (1).png");
}

.photo2 {
    background-image: url("/image (2).png");
}

.photo3 {
    background-image: url("/image (3).png");
}

.language {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./Language.jpg");
    width: 20px;
    height: 20px;
    top: 3.5px;
    left: 1164px;
    gap: 10px;
    border-radius: 24px;
    padding: 13px;
}

.user {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/user.jpg");
    width: 20px;
    height: 20px;
    top: -23px;
    left: 751px;
}

.pure-magic {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
}

.AWAITS {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 250px;
}

.too {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-size: 64px;
}
.roadmap{
    background-image: url("./Roadmap\ image.jpg");
    width: 1440px;
    height: 1022px;
    padding: 60px;
}
.roadmap-container{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: 1022px;
}
.topic{
    font-family: "Inter";
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}
.Pack{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #18181BB2;
    text-align: center;
}
.map-item-desc img{
    width: 14px;
    height: 14px;
}
.map-item{
    width: 513px;
    border-radius: 120px;
    padding: 32px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.map-item:last-child{
    margin-bottom: 0;
}
.map-item-desc{
    color: #18181b;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    gap: 12px;
    align-items: center;
}
.map-item-day{
    background-color: #f7f6f3;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50px;
}
.A{
    background-color: #eee9d9;
}
.B{
    background-color: #8BB8C1CC;
}
.C{
    background-color: #AAD8D7CC;
}
.D{
    background-color: #8BC0BDCC;
}
.E{
    background-color: #97CCE0CC;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./Footer.png");
    width: 1440px;
    height: 1120px;
    padding: 60px;
}
.Card{
    background-color: #FAFBFC;
    width: 384px;
    height: 527px;
    border-radius: 40px;
    margin-right: 20px;
    margin-top: 50px;
}
.title{
    width: 141px;
    height: 22px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    display: flex;
    text-align: center;
    color: #121316;
}
.Cards{
    display: flex;
    justify-content: center;
}
.header{
    height: 92px;
    width: 384px;
    
}
.main{
    width: 384px;
    height: 435px;
    padding: 12px 24px 24px;
}
.package-name{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 32px 24px 24px 24px;
    gap: 16px;
}
.package-name img{
    width: 36px;
    height: 36px;
}
.price{
    font-weight: 600;
    font-size: 40px;

}
.covering{
    color: #18181BB2;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 32px;
}
.second-main{
    margin-left: 24px;
    padding-bottom: 16px;
}
.need{
    font-weight: 500;
    font-size: 14px;
    font-family: "Inter";
    color: #3F4145;
}
.second-main:last-child{
    padding-bottom: 37px;
}
button {
    width: 336px;
    height: 48px;
    border-radius: 24px;
    /* half of height = fully rounded */
    background-color: #18181b;
    /* example background */
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #3f4145;
}
